/*闪烁动画*/
@keyframes flashing{
	0%{filter:alpha(opacity=100);  
	      -moz-opacity:1;  
	      -khtml-opacity: 1;  
	      opacity: 1;  
	  }
	100%{filter:alpha(opacity=10);  
	      -moz-opacity:0.1;  
	      -khtml-opacity: 0.1;  
	      opacity: 0.1;
	  }
}
@-moz-keyframes flashing /* Firefox */
{
	0%{filter:alpha(opacity=100);  
	      -moz-opacity:1;  
	      -khtml-opacity: 1;  
	      opacity: 1;  
	  }
	100%{filter:alpha(opacity=10);  
	      -moz-opacity:0.1;  
	      -khtml-opacity: 0.1;  
	      opacity: 0.1;
	  }
}
@-webkit-keyframes flashing /* Safari 和 Chrome */
{
	0%{filter:alpha(opacity=100);  
	      -moz-opacity:1;  
	      -khtml-opacity: 1;  
	      opacity: 1;  
	  }
	100%{filter:alpha(opacity=10);  
	      -moz-opacity:0.1;  
	      -khtml-opacity: 0.1;  
	      opacity: 0.1;
	  }
}
@-o-keyframes flashing /* Opera */
{
	0%{filter:alpha(opacity=100);  
	      -moz-opacity:1;  
	      -khtml-opacity: 1;  
	      opacity: 1;  
	  }
	100%{filter:alpha(opacity=10);  
	      -moz-opacity:0.1;  
	      -khtml-opacity: 0.1;  
	      opacity: 0.1;
	  }
}
.sectiondown{
	animation-name: flashing;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: flashing;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: flashing;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: flashing;
	-o-animation-duration: 2s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}
/*下移动画*/
@keyframes moveup{
	0%{
		top: 0px; 
	  }
	100%{
		top: -150px; 
	  }
}
@-moz-keyframes moveup /* Firefox */
{
	0%{
		top: 0px; 
	  }
	100%{
		top: -150px; 
	  }
}
@-webkit-keyframes moveup /* Safari 和 Chrome */
{
	0%{
		top: 0px; 
	  }
	100%{
		top: -150px; 
	  }
}
@-o-keyframes moveup /* Opera */
{
	0%{
		top: 0px; 
	  }
	100%{
		top: -150px; 
	  }
}
.moveup{
	animation-name: moveup;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;

	-moz-animation-name: moveup;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	-webkit-animation-name: moveup;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

	-o-animation-name: moveup;
	-o-animation-duration: 1s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: 1;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

/*左移动画*/
@keyframes moveleft{
	0%{
		left: 60%;
	  }
	100%{
		left: 350px;
	  }
}
@-moz-keyframes moveleft /* Firefox */
{
	0%{
		left: 60%;
	  }
	100%{
		left: 350px;
	  }
}
@-webkit-keyframes moveleft /* Safari 和 Chrome */
{
	0%{
		left: 60%;
	  }
	100%{
		left: 350px;
	  }
}
@-o-keyframes moveleft /* Opera */
{
	0%{
		left: 60%;
	  }
	100%{
		left: 350px;
	  }
}
.moveleft{
	animation-name: moveleft;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;

	-moz-animation-name: moveleft;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	-webkit-animation-name: moveleft;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

	-o-animation-name: moveleft;
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: 1;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

/*右移动画*/
@keyframes moveright{
	0%{
		left: 15%;
	  }
	100%{
		left: 290px;
	  }
}
@-moz-keyframes moveright /* Firefox */
{
	0%{
		left: 15%;
	  }
	100%{
		left: 290px;
	  }
}
@-webkit-keyframes moveright /* Safari 和 Chrome */
{
	0%{
		left: 15%;
	  }
	100%{
		left: 290px;
	  }
}
@-o-keyframes moveright /* Opera */
{
	0%{
		left: 15%;
	  }
	100%{
		left: 290px;
	  }
}
.moveright{
	animation-name: moveright;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;

	-moz-animation-name: moveright;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	-webkit-animation-name: moveright;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

	-o-animation-name: moveright;
	-o-animation-duration: 0.4s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: 1;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}
/*背景下移动画*/
@keyframes bgdown{
	0%{
		background-position: center -50px;
	  }
	100%{
		background-position: center top;
	  }
}
@-moz-keyframes bgdown /* Firefox */
{
	0%{
		background-position: center -50px;
	  }
	100%{
		background-position: center top;
	  }
}
@-webkit-keyframes bgdown /* Safari 和 Chrome */
{
	0%{
		background-position: center -50px;
	  }
	100%{
		background-position: center top;
	  }
}
@-o-keyframes bgdown /* Opera */
{
	0%{
		background-position: center -50px;
	  }
	100%{
		background-position: center top;
	  }
}
.bgdown{
	animation-name: bgdown;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;

	-moz-animation-name: bgdown;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	-webkit-animation-name: bgdown;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

	-o-animation-name: bgdown;
	-o-animation-duration: 3s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: 1;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}
/*第二屏图片放大动画*/
@keyframes toBig{
	0%   {width: 0px;height: 0px; margin-top: 153px;}
	25%  {width: 100px; height: 68px; margin-top: 121px;}
	50%  {width: 200px; height: 136px; margin-top: 77px;}
	75%  {width: 300px; height: 204px;  margin-top: 51px;}
	100% {width: 450px;height: 306px; margin-top: 0px;}
}
@-moz-keyframes toBig /* Firefox */
{
	0%   {width: 0px;height: 0px; margin-top: 153px;}
	25%  {width: 100px; height: 68px; margin-top: 121px;}
	50%  {width: 200px; height: 136px; margin-top: 77px;}
	75%  {width: 300px; height: 204px;  margin-top: 51px;}
	100% {width: 450px;height: 306px; margin-top: 0px;}
}
@-webkit-keyframes toBig /* Safari 和 Chrome */
{
	0%   {width: 0px;height: 0px; margin-top: 153px;}
	25%  {width: 100px; height: 68px; margin-top: 121px;}
	50%  {width: 200px; height: 136px; margin-top: 77px;}
	75%  {width: 300px; height: 204px;  margin-top: 51px;}
	100% {width: 450px;height: 306px; margin-top: 0px;}
}
@-o-keyframes toBig /* Opera */
{
	0%   {width: 0px;height: 0px; margin-top: 153px;}
	25%  {width: 100px; height: 68px; margin-top: 121px;}
	50%  {width: 200px; height: 136px; margin-top: 77px;}
	75%  {width: 300px; height: 204px;  margin-top: 51px;}
	100% {width: 450px;height: 306px; margin-top: 0px;}
}
.toBig{
	animation-name: toBig;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;

	-moz-animation-name: toBig;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	-webkit-animation-name: toBig;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

	-o-animation-name: toBig;
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: 1;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}
/*第三屏动画*/
.sec3left li{
	transition: right 0.5s,opacity 0.5s;
	-moz-transition: right 0.5s,opacity 0.5s;
	-webkit-transition: right 0.5s,opacity 0.5s;
	-o-transition: right 0.5s,opacity 0.5s;
}
#section2 .toRight{
	right: 0px;
	opacity: 1;
}
.sec3right li{
	transition: left 0.5s,opacity 0.5s;
	-moz-transition: left 0.5s,opacity 0.5s;
	-webkit-transition: left 0.5s,opacity 0.5s;
	-o-transition: left 0.5s,opacity 0.5s;
}
#section2 .toLeft{
	left: 0px;
	opacity: 1;
}

#section2 .sec3center{
	transition: opacity 4s;
	-moz-transition: opacity 4s;
	-webkit-transition: opacity 4s;
	-o-transition: opacity 4s;
}
#section2 .sec3center.toOpacity{
	opacity: 1;
}

/*第四屏动画*/
#section3 .content div img.bigImg{
	width: 130px;
	transition: width 0.2s;
	-moz-transition: width 0.2s;
	-webkit-transition: width 0.2s;
	-o-transition: width 0.2s;
}
#section3 .content.show{
	top: 45%;
	opacity: 1;
	transition: opacity 1s,top 1s;
	-moz-transition: opacity 1s,top 1s;
	-webkit-transition: opacity 1s,top 1s;
	-o-transition: opacity 1s,top 1s;
}
#section4 .content.show{
	top: 35%;
	opacity: 1;
	transition: opacity 1s,top 1s;
	-moz-transition: opacity 1s,top 1s;
	-webkit-transition: opacity 1s,top 1s;
	-o-transition: opacity 1s,top 1s;
}
