/*顶部导航*/
.fullhead{
	height: 74px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
	background: url(../img/index/head_bg.png) repeat-x;
}
header img,nav{
	display: block;
}
header:after{
	content: ""; 
	display: block; 
	height: 0; 
	visibility: hidden; 
	clear: both; 
}
header img{
	height: 45px;
	margin-top: 12px;
}
header nav{
	margin-top: 3px;
	margin-left: 30px;
}   
/*顶部菜单样式*/
.lavaLampBottomStyle {
    position: relative;
    height: 29px;
    width: 100%;
    padding: 15px;
    margin: 0px;
    overflow: hidden;
    border: 0px;
    background: none;
}
.lavaLampBottomStyle li {
	float: left;
	list-style: none;
}
.lavaLampBottomStyle li.back {
	border-bottom: 3px solid #0074b0;
	height: 41px;
	width: 9px;
	z-index: 8;
	position: absolute;
}
.lavaLampBottomStyle li a {
	font-family: arial,helvetica,"Microsoft YaHei";
	font-size: 16px;
	color: #606060;
	text-align: center;
	top: 7px;
	text-transform: uppercase;
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: 0 20px;
}   
.lavaLampBottomStyle li a:hover, .lavaLampBottomStyle li a:active, .lavaLampBottomStyle li a:visited, .lavaLampBottomStyle li.current a{
    border: none;
    color: #0074b0;
}       

